/* Anasayfa */


body #mainHolder_divDesign .t-vw-9 .ticiContainer, body #mainHolder_divDesign .t-vw-4 .ticiContainer {
/*width: 1110px !important;*/
max-width: 100% !important;
}


#mainHolder_divDesign section.landing-block:first-of-type .ticiContainer.hazirBlokContent {
  width: 100% !important;
}

#mainHolder_divDesign section.landing-block .ticiContainer.hazirBlokContent .txrow .txcol-sm-12 {
  padding: 0 !important;
}

#divIcerik.homepage {
  margin: 0;
}


  #story {
    margin-top: 15px !important;
    margin-bottom: 10px;
  }

  .storyMainCont {
    width: 960px; /* 1060px */
    margin: -22px auto;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
  }

  .hiza {
    width: 900px; /* 1000px */
    margin: 0 auto;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .storyCont {
    height: 115px;
    width: 900px; /* 1000px */
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .storyRing {
    width: 86px;
    height: 86px;
    overflow: visible;
    border-radius: 46px;
    background: #ffffff;
    box-shadow: 0 0 4px #aaaaaa;
  }

  .colorRing {
    position: relative;
    width: 84px;
    height: 84px;
    margin: auto;
    top: 1px;
    overflow: visible;
    background: white;
    border-radius: 46px;
  }

  .storyText {
    font-size: 12px;
    margin-top: 10px;
  }

  .storyimg {
    width: 84px;
    height: 84px;
    border-radius: 46px;
  }

  .slideLeftBTN {
    width: 30px;
  }

  .slideRightBTN {
    width: 30px;
  }

  .slideRightBTNimg {
    width: 25px;
    position: relative;
    top: 27px;
    left: 9px;
  }

  .slideLeftBTNimg {
    width: 25px;
    position: relative;
    top: 27px;
    right: 4px;
  }

  .linkstr {
    padding: 0 7px;
  }

  ::-webkit-scrollbar {
    height: 0px;
    width: 10px;
  }


  /* Track */

  ::-webkit-scrollbar-track {
    border-radius: 2.5px;
  }


  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 2.5px;
  }


  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background: #e91e63
  }

  ::-webkit-scrollbar-thumb:active {
    background: orange
  }

  @media(max-width: 1000px) {
    .storyCont {
      height: 100px;
      width: 730px;
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      text-align: center;
      margin-bottom: 15px;
    }

    .slideLeftBTN {
      display: none;
    }

    .slideRightBTN {
      display: none;
    }

    .storyMainCont {
      width: 100%;
      margin-bottom: -22px;
      margin-top: -62px;
    }

    .hiza {
      /*width: 98.2%;*/
      overflow: auto;
      scroll-behavior: smooth;
    }

    .linkstr {
      padding: 0 5px;
    }

    .storyRing {
      width: 70px;
      height: 70px;
    }

    .colorRing {
      width: 68px;
      height: 68px;
    }

    .storyimg {
      width: 68px;
      height: 68px;
    }

    .CartProduct {
      top: 60px;
    }
  }


/* DenizButik'teki bazı alanların düzgün görünmesi için eklenen kodlar: */

 .mob-category-slide {
  width:100%;
  float:left;
  background-color:#fff;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
  display:block
 }
 .mob-category-slide::-webkit-scrollbar {
  width:0;
  height:0
 }
 .mob-category-slide::-webkit-scrollbar-track {
  background:0 0
 }
 .mob-category-slide::-webkit-scrollbar-thumb {
  background:0 0
 }
 .mob-category-slide>.item {
  display:inline-block;
  padding:6px 16px;
  color:#6b6b6b;
  font-size:15px
 }
 .mob-category-list {
  float:left;
  width:100%;
  display:block;
  background-color:#fff;
  padding-top:0
 }
 .mob-category-list>.List>.item {
  float:left;
  width:50%;
  font-size:14px;
  color:#484848;
  font-weight:600;
  padding:15px 5px 15px 30px;
  border-right:1px solid #eee;
  border-top:1px solid #ebebeb;
  text-align:left
 }
 .mob-category-list>.List>.item::before {
  font-family:denizbutikfont;
  content:"»";
  font-size:16px;
  color:#ff6100;
  margin-right:7px
 }
 .mob-category-list>.List>.item:nth-child(-n+2) {
  border-top:0
 }
 .mob-category-list>.List>.item:nth-child(2n+2) {
  border-right:0
 }
 .mob-category-list>.all-category {
  color:#ff6100;
  padding:10px;
  display:block;
  width:100%;
  text-align:center;
  font-weight:700;
  font-size:14px;
  float:left;
  width:100%
 }


/* Hata düzeltmesi için eklenen kodlar : */
#mainHolder_divDesign section.landing-block .ticiContainer.hazirBlokContent .txrow .txcol-sm-12 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.OnTab .tab-content ul li .showroom-product img {
  width: 100%;
}
@media (max-width: 768px) {
  .OnTab .tab-content ul li {
    width: 100%;
  }
  
  .DenizTube .tubeOwl ul li .module-item .vidBox .vidCover {
	max-width: 200px;
  }
}
